# Sources
*.c text eol=lf diff=cpp
*.cc text eol=lf diff=cpp
*.cpp text eol=lf diff=cpp
*.hpp text eol=lf diff=cpp
*.h text eol=lf diff=cpp

# Config files
*.cfg text eol=lf

# Compiled Object files
*.slo binary
*.lo binary
*.o binary
*.obj binary

# Precompiled Headers
*.gch binary
*.pch binary

# Compiled Dynamic libraries
*.so binary
*.dylib binary
*.dll binary

# Compiled Static libraries
*.lai binary
*.la binary
*.a binary
*.lib binary

# Executables
*.exe binary
*.out binary
*.app binary
